<main class="main">
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Planets</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button class="card-btn" routerLink="planets">Go<mat-icon>arrow_right</mat-icon></button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </mat-card>
    
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Residents</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button class="card-btn" routerLink="residents">Go<mat-icon>arrow_right</mat-icon></button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </mat-card>
    
    <mat-card class="card-class">
        <mat-card-header>
            <mat-card-title>Vehicles</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button class="card-btn" routerLink="vehicles">Go<mat-icon>arrow_right</mat-icon></button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </mat-card>    
</main>




